* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-fondo {
    background: linear-gradient(rgba(255, 235, 59, 0.4), rgba(255, 235, 59, 0.4)), 
                url('../../../../imagenes/imagenfondo8.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dinero{
    color: rgb(21, 255, 0);
}
.barra_superior {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}   
.imagen_usuario_inside{
    height: 60px;
}
.cosas_derecha{
    align-items: center;
    margin-left: auto;
    display: flex;     
    flex-direction: row; 
    gap: 30px;        
}
.conteiner_usuario_arriba{
    display: flex; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.logowich_arriba{
    height: 75px;
}
.conteiner_de_productos{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra_derecha button {
    padding: 10px 20px;
    background-color: #fffb04;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
.crear_producto button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
.container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    margin-top: 8%;
}
h2 { text-align: center; color: #333; }
label { display: block; margin-bottom: 5px; }
input { width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 5px; }
button:hover { background: #218838; }